<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.urlimport.018B5243-529E-4601-B7D1-D9D00C51C718</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.018B5243-529E-4601-B7D1-D9D00C51C718</string>
</dict>
</plist>
